*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
}



.service{
    /* background-color: #cc00ff; */
    width: 33.33%;
    float: left;
    padding: 10px;
}
.service-content{
    background: #6f6f6f;
    padding: 50px;
    color: white;
    box-shadow: 5;
}
.service-content p{}
.service-content h2{}

.portfolio-section{
    background: #6f6f6f;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}
.portfolio-section h1{
    color: white;
    font-size: 57px;
    text-transform: uppercase;
}

.portfolio{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.portfolio img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}